ML_CLIENT_ID=xxxxxxxx
ML_CLIENT_SECRET=xxxxxxxx

ML_ACCESS_TOKEN=xxxxxxxx
ML_REFRESH_TOKEN=xxxxxxxx

ML_SITE_ID=MLB

ML_API_BASE_URL=https://api.mercadolibre.com
ML_AUTH_BASE_URL=https://auth.mercadolivre.com.br

ML_IMPLEMENT_OAUTH=false
ML_ALLOW_TOKEN_REFRESH=true
